{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 1000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
                "Image": "justmert/lilypad-hugging:v0.0.11",
                "EnvironmentVariables": [
                    {{if .SeedEnv}}{{.SeedEnv}}{{else}}"RANDOM_SEED=42"{{end}},
                    "OUTPUT_DIR=/output/",
                    "INPUT_DIR=/input/"
                ],
                "Entrypoint": [
                "bash", "-c",
                    "python3 ./inference.py {{.FilesCID}}"
                ]

            },
            "Engine": "Docker",
            "Language": {
                "JobContext": {}
            },
            "PublisherSpec": {
                "Type": "Estuary"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Verifier": "Noop",
            "Wasm": {
                "EntryModule": {}
            },
            "Network": {
                "Type": "None"
            },
            "outputs": [
                {
                    "Name": "output",
                    "StorageSource": "IPFS",
                    "path": "/output"
                }
            ]
        }
    }
}
